body{
    display: none;
}

@media (min-width: 801px){
   
body {
    display: block;
    background-color: aquamarine;
}
#logo {
  height: 350px;
  width: 100%;
}
#navber {
  position: fixed;
  background-color: aliceblue;
  width: 100%;
}
#myphoto {
  transition: 1s;
  padding: 20px;
  height: 500px;
  width: 370px;
}
.aboutme {
  display: inline;
  width: 400px;
  padding: 1px;
  margin: 1px;

}
.informetion{
    position: absolute;
    top: 450px;
    margin-left: 30%;
}
#name{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(245, 208, 0);
}
#hridoy{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}
#webintro{
  color: rgb(255, 0, 0);
  font-size: xx-large;
  font-family: 'Comforter', 'cursive';
}
#design{
  font-size: 45px;
  color: rgb(46, 138, 23);
}
#devoloper{
  font-size: 45px;
  color: rgb(46, 138, 23);
}
#icon{
  color: rgb(25, 28, 212);
  position: absolute;
  top: 650px;
  list-style-type: none;
  font-size: x-large;
}
#icon1 img{
  height: 25px;
}
#icon a{
  text-decoration: none;
}
#icon2 img{
  height: 25px;
}
#icon3 img{
  height: 25px;
}
#icon4 img{
  height: 25px;
}
.contact-icon{
  float: right;
}
.contact-icon img{
  height: 70px;
  padding: 1px;
  margin: 2px;
}



}

@media (min-width: 450px) and (max-width: 800px) {
  body{
    display: block;
    background-color: cadetblue;
  }
  #logo {
    height: 250px;
    width: 100%;
  }
  #navber {
    position: fixed;
    background-color: rgb(240, 243, 245);
    width: 100%;
  }
  #myphoto {
    transition: 2s;
    padding: 80px;
    width: 100%;
    height: auto;
    box-shadow: 5px 1px 10px 10px;
    border: 5px solid;
    border-color: brown;
  }
  .informetion{
      margin: 5px;
      padding: 5px;
  }
  #name{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(245, 208, 0);
  }
  #hridoy{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(246, 9, 9);
  }
  #webintro{
  color: rgb(255, 0, 0);
  font-size: large;
  font-family: 'Comforter', 'cursive';
  }
  #design{
  font-size: 30px;
  color: rgb(2, 70, 255);
  }
  #devoloper{
  font-size: 30px;
  color: rgb(2, 70, 255);
  }
  #icon{
    color: rgb(25, 28, 212);
    list-style-type: none;
    font-size: x-large;
  }
  #icon1 img{
    height: 25px;
  }
  #icon a{
    text-decoration: none;
  }
  #icon2 img{
    height: 25px;
  }
  #icon3 img{
    height: 25px;
  }
  #icon4 img{
    height: 25px;
  }
  .contact-icon{
    float: right;
  }
  .contact-icon img{
    height: 70px;
    padding: 1px;
    margin: 2px;
  }
  br{
    display: none;
  }
  
  
  



}

@media (max-width: 450px) {
  body{
    display: block;
    background-color: rgb(141, 219, 67);
  }
  #logo {
    height: 200px;
    width: 100%;
  }
  #navber {
    position: fixed;
    background-color: rgb(240, 243, 245);
    width: 100%;
  }
  #myphoto {
    transition: 2s;
    padding: 20px;
    width: 100%;
    height: auto;
    box-shadow: 5px 1px 10px 10px;
    border: 5px solid;
    border-color: rgb(236, 194, 8);
  }
  .informetion{
      margin: 5px;
      padding: 5px;
  }
  #name{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(25, 0, 245);
  }
  #hridoy{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(246, 9, 9);
  }
  #webintro{
  color: rgb(255, 0, 0);
  font-size: x-large;
  font-family: 'Comforter', 'cursive';
  }
  #design{
  font-size: 35px;
  color: rgb(2, 70, 255);
  }
  #devoloper{
  font-size: 30px;
  color: rgb(2, 70, 255);
  }
  #icon{
    color: rgb(25, 28, 212);
    list-style-type: none;
    font-size: x-large;
  }
  #icon1 img{
    height: 25px;
  }
  #icon a{
    text-decoration: none;
  }
  #icon2 img{
    height: 25px;
  }
  #icon3 img{
    height: 25px;
  }
  #icon4 img{
    height: 25px;
  }
  .contact-icon{
    float: right;
  }
  .contact-icon img{
    height: 70px;
    padding: 1px;
    margin: 2px;
  }
  br{
    display: none;
  }
  




}